<!DOCTYPE html>
<html lang="en">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moggy Shop</title>

</head>

<body>
    
    <nav>
        <div class="valign-wrapper pink">
          <a href="" class="brand-logo center">Cats 4 You</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
          </ul>
          

        </div>
      </nav>
<br><br>
      <div class="row">
        <div class="col s4 offset-s1">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Cats Name</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat veritatis sit. Veritatis velit, animi ullam aut excepturi accusamus officia, eveniet consequatur, nulla architecto neque? Repellendus explicabo aliquid debitis quam.</p>
            </div>
            <div class="card-action">
              <a href="#">dont want this now, changed my mind</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s4 offset-s1">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Cats Name</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat veritatis sit. Veritatis velit, animi ullam aut excepturi accusamus officia, eveniet consequatur, nulla architecto neque? Repellendus explicabo aliquid debitis quam.</p>
            </div>
            <div class="card-action">
              <a href="#">dont want this now, changed my mind</a>
            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col s4 offset-s6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Order Summary</span>
              <p class="total-title right">Total</p>
              <p>Name | price</p>
              <p>Name | price</p>
              <p class="total right">£**.**</p>
              
            </div>
            <div class="card-action">
              <a href="#">Buy Now</a>
              <br><br>
              <a href="#">Cancel Your Order</a>
            </div>
          </div>
        </div>
      </div>

</body>
</html>