.App {
  text-align: center;
}
.shadowCard{
  box-shadow:0.25rem 0.25rem 0.175rem grey;
}
.imageContainer{
  position:relative;  
  left:50%;
  top:50%;
  transform: translate(-50%, -10%);
}
.mainCatPic{
  padding:0.25rem;
}
.gridBox{
  margin:1rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap:2rem;
}
.addToCart{
  cursor:pointer;
}
.addToCart:hover{
  box-shadow: 120px 80px 40px 20px #0ff;
}